<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg" class="sticky-top" id="indexNav">
      <img src="https://image.flaticon.com/icons/png/512/1045/1045903.png" width="40" height="40" alt="hashtag">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
          <a class="isDisabled" href="about-FAQ.html">Word Counter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/game">Results</a>
          </li>
        </ul>
      </div>
    </nav>



    <h1 class="welcome">WORD COUNTER</h1>
    <h3 class="instruction">First enter a word then enter a sentence. I will then count how many times that word occurs in that sentence. (Other things to consider: You are able to include punctuation and I will still count the word. I will not count the word if it is within another word)</h3>

    <form action="/game" method="post">
      <label for="wordInput">Enter word:</label>
      <input id="wordInput" name="wordInput" type="text" required><br>

      <label for="sentenceInput"> Enter a sentence:</label>
      <input id="sentenceInput" name="sentenceInput" type="text" required>

      <button type="submit">Go!</button>
    </form>
  </body>
