<h1>First enter a word then enter a sentence. I will then count how many times that word occurs in that sentence.</h1>

<form action="/game" method="post">
  <label for="wordInput">Enter word:</label>
  <input id="wordInput" name="wordInput" type="text" required>
  <label for="sentenceInput"> Enter a sentence:</label>
  <input id="sentenceInput" name="sentenceInput" type="text" required>
  <button type="submit">Go!</button>
</form>
