/* nav bar css -----------> */

#indexNav {
  overflow: hidden;
  background-color: pink;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 0 0 0
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  opacity: 0.8;
  z-index: 50;
}

#indexNav a {
  text-align: center;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.isDisabled {
  color: #000000;
  text-decoration: none;
  pointer-events: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#indexNav a:hover {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;

}

/* nav bar css end ---------> */

body {

  font-family: 'Gugi', cursive;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  height: 100vh;

}

.welcome {
  text-align: center;
  padding-top: 50px;
  color: pink;
  letter-spacing: 5px;
  font-size: 70px;
}

#firstClick {
  letter-spacing: 5px;
}

.initialize {
  text-align: center;
  background-image: url("https://media.giphy.com/media/1pmatQ3LcP5XFYxSWF/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 90px; */
  padding-top: 205px;
  padding-bottom: 205px;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 68%;
  border: 10px solid #000000;
  margin-top: 2%;

}

a {
  color: pink;
  /* font-size: 3em; */
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

.instruction {
  padding-bottom: 30px;
  padding-top: 20px;
}

label {
  padding-bottom: 10px;
}

h1 {
  color: pink;
}

h3 {
  color: #FFFFFF;
}

label {
  color: pink;
}

.playLinks {
  margin-top: 20%;
}
