body {
  color: #000000;
  font-family: 'Gugi', cursive;
  /* background-image: url("https://media.giphy.com/media/8FiLPVIONxvJu7fgV4/giphy.gif"); */
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  height: 100vh;

}

#welcome {
  /* font-family: font-family: 'Gugi', cursive; */
  color: #000000;
  text-align: center;
  font-size: 5em;
  letter-spacing: 9px;
}

a {
  color: pink;
  /* font-size: 3em; */
}

.gifs {
  text-align: center;
}

ul {
  font-size: 20px;
}

a:hover {
  text-decoration: none;
  color: #000000;
  background-image: url("https://media.giphy.com/media/8FiLPVIONxvJu7fgV4/giphy.gif");
}

.winner {
  background-color: orange;
}

.letterButton{
  font-size: 40px;
  float:left;
}

.guess{
  margin-left:46%;
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
}

#playAgain {
  margin-left: 80%;
  margin-bottom: 40px;
}

.homeLink {
  font-size: 20px;
}
