body {

  font-family: 'Gugi', cursive;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  height: 100vh;

}

#wordcount {
  text-align: center;
  padding-top: 50px;
  color: pink;
  letter-spacing: 5px;
  font-size: 70px;
}

#welcome {
  text-align: center;
  background-image: url("https://media.giphy.com/media/bcAXnpZhenJA5McqfL/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 70%;
  border: 10px solid #000000;
  margin-top: 10%;
}

a {
  color: pink;
  /* font-size: 3em; */
}

a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

h1 {
  color: pink;
}

h3 {
  color: #FFFFFF;
}

label {
  color: pink;
}

.playLinks {
  margin-top: 20%;
}
